.line{
    border-top: 4px solid #1f1d36;
    width: 100px;
}
.home{
    background-color: #eae8ff;
    margin-top: 100px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}